SECRET_KEY=b270d8c3-ffb4-42f6-a63c-5b3c0a7c42e3

CLIENT_URL=http://localhost:3000

MYSQL_URL=mysql://root:sportify@mysql:3306/sportify

CLOUDINARY_URL=cloudinary://972935843595574:CtqeS2uUZ5yE59KLA6lFQ2okc4c@djpq38pgz

EMAIL_HOST_USER=carmaster1205@gmail.com
EMAIL_HOST_PASSWORD=yhcfhnyrgtcyzvbi